
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/Info.plist
build/Debug-iphonesimulator/MovieDatabase.app/_CodeSignature/CodeResources
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/Info.plist
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/jPp-zR-jxq-view-174-sK-qBY.nib
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/MovieDetail.nib
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/MoviesList.nib
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/NavigationVC.nib
build/Debug-iphonesimulator/MovieDatabase.app/MovieDatabase
build/Debug-iphonesimulator/MovieDatabase.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
build/Debug-iphonesimulator/MovieDatabase.swiftmodule/Project/x86_64.swiftsourceinfo
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/Info.plist
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/jPp-zR-jxq-view-174-sK-qBY.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/MovieDetail.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/MoviesList.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/NavigationVC.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieDatabase-master.swiftdeps
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieDatabase.swiftsourceinfo
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieListVC.o
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieListVC.swiftdeps
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieListVC~partial.swiftsourceinfo
build/XCBuildData/build.db
build/Debug-iphonesimulator/MovieDatabase.app/_CodeSignature/CodeResources
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/Info.plist
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/jPp-zR-jxq-view-174-sK-qBY.nib
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/MovieDetail.nib
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/MoviesList.nib
build/Debug-iphonesimulator/MovieDatabase.app/Base.lproj/Main.storyboardc/NavigationVC.nib
build/Debug-iphonesimulator/MovieDatabase.app/MovieDatabase
build/Debug-iphonesimulator/MovieDatabase.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
build/Debug-iphonesimulator/MovieDatabase.swiftmodule/Project/x86_64.swiftsourceinfo
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/Info.plist
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/jPp-zR-jxq-view-174-sK-qBY.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/MovieDetail.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/MoviesList.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Base.lproj/Main.storyboardc/NavigationVC.nib
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieDatabase-master.swiftdeps
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieDatabase.swiftsourceinfo
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieListVC.o
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieListVC.swiftdeps
build/MovieDatabase.build/Debug-iphonesimulator/MovieDatabase.build/Objects-normal/x86_64/MovieListVC~partial.swiftsourceinfo
build/XCBuildData/build.db
build/XCBuildData/build.db
build/Debug-iphonesimulator/MovieDatabase.app/_CodeSignature/CodeResources
